# Environment variables
.env
.env.*
!.env.example

# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.venv/
venv/
ENV/
env/

# Database / SQLite
*.db
*.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Media / Uploads
media/*
!media/.gitkeep

# IDEs
.vscode/
.idea/
